<div class="m-5 text-center title">
    <h1>Create a new User</h1>
</div>

<div class="container">
    <form #heroForm="ngForm" (ngSubmit)="onSubmit()" role="form">
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput id="name" name="name" [(ngModel)]="this.name" placeholder="Add the name of the user" required />
                <mat-error>Name is required</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput id="lastName" name="lastName" [(ngModel)]="this.lastName" placeholder="Add the lastName of the user" required />
                <mat-error>Last Name is required</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput id="email" name="email" [(ngModel)]="this.email" placeholder="Add the email of the user" required />
                <mat-error>Email is required</mat-error>
            </mat-form-field>
        </div>
        <button mat-stroked-button color="primary" type="submit">Create</button>
    </form>
</div>