<mat-list>
    <mat-list-item *ngFor="let user of users">
        <div class="row col-12">
            <div class="col-md-4">
                <span>{{ user.name }} {{ user.lastName }}</span>
            </div>
            <div class="col-md-4">
                <span>{{ user.email }}</span>
            </div>
            <div class="col-md-2">
                <span>{{ user.active }}</span>
            </div>
            <div class="col-md-2">
                <button mat-icon-button aria-label="menu button">
                    <mat-icon matListIcon>create</mat-icon>
                </button>
                <button mat-icon-button aria-label="menu button" (click)=userDelete(user)>
                    <mat-icon matListIcon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-list-item>
</mat-list>