/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main {
    margin: 0 0 5em 0;
}

.title>h1 {
    font-weight: bold;
}

.mat-simple-snackbar>span {
    padding: 0 2em;
}

.mat-snack-bar-container {
    background-color: orange !important;
}

simple-snack-bar>span {
    width: 100%;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.template {
    margin-bottom: 7em;
}